body {
    background-color: #fff1e2;
}

p {
  font-family: 'Alegreya Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    background-color: #a6192e;
}

.header img {
  padding: 7px;
}

#dropdown-button {
  display: none;
}
  
.main-flexbox {
  display: flex;
  height: 100%;
}

.left-side {
  width: 20%;
  background-color: #f5d4b7;
}

.right-side {
  width: 80%;
}

.recipe-name {
  text-align: center;
  font-family: 'Kalam', cursive;
  font-size: 60px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.recipe-flexbox {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}

.recipe-image {
  width: 35%;
}

.ingredients {
  width: 55%;
  margin-left: 15px;
}

.ingredients-flexbox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ingredients-flexbox p {
  margin-top: 5px;
  width: 50%;
}


.steps {
  display:block;
  width: 100%;
  margin-bottom: 30px;
}

.title {
  font-family: 'Kalam', cursive;
  font-size: 40px;
  margin-top: 15px;
}

.subtitle {
  font-family: 'Kalam', cursive;
  font-size: 30px;
  margin-top: 30px;
}

.search-container {
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.search-box {
  width: 60%;
}

.search-button {
  width: 25%;
}

.sidebar-title {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.sidebar-container a {
  text-decoration: underline;
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: 6px;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #221f1f;
  align-items: center;
}

.footer p {
  margin-right: 10px;
  margin-left: 10px;
  color: whitesmoke;
}

@media screen and (max-width: 750px) {
  #dropdown-button {
    display: block;
  }
  
  #mascot {
    display: none;
  }
  
  #submit-your-recipe {
    display: none;
  }
  
  .header {
    height: 60px;
  }
  
  .left-side {
    display: none;
  }
  
  .right-side {
    width: 100%;
  }
  
  .ingredients {
    width: 100%;
  }
  
  .recipe-image {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title{
    text-align: center;
  }

  .ingredients-flexbox{
    flex-direction: row;
}